<hibernate-configuration>
    <session-factory>
        <!-- Database connection setting -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <!-- Embedded Database by Chris -->
        <!--
            <property name="connection.url">jdbc:h2:./data/contactmgr</property>
         -->
        <!-- Server-Based Database : For More Interaction -->
        <property name="connection.url">jdbc:h2:tcp://localhost/./data/contactmgr</property>

        <property name="connection.username">sa</property>

        <property name="connection.password">sa</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show the queries prepared by Hibernate -->
        <property name="show_sql">true</property>

        <!-- Format SQL queries prepared by Hibernate -->
        <property name="format_sql">true</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.teamtreehouse.contactmgr.model.Contact" />
    </session-factory>
</hibernate-configuration>